<div class="card">
  <div class="overflow-x-auto mt-4">
    <table class="items-center w-full mb-0 align-top border-slate-200 text-slate-500">
      <tbody class="bg-white divide-y dark:divide-slate-500 dark:bg-slate-800">
        <% @columns.each do |column, title| %>
          <tr id="<%= helpers.dom_id(@item, 'admin') %>" class="text-slate-700 dark:text-slate-400 border-b border-slate-200">
            <th class="px-4 py-3 text-left"><%= title %></th>
            
            <td class="px-4 py-3">
              <%= @item.send(column) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <% if @actions.present? %>
    <div class="flex justify-end mt-5">
      <% @actions.each do |action| %>
        <% if helpers.policy(@item).send("#{action}?") %>
          <% if action.to_s == 'delete' %>
            <%= link_to send(delete_link, route_params(@item)), method: :delete, data: { confirm: 'Etes-vous sure?' }, class: "button is-danger text-sm mx-1" do %>
              Supprimer
            <% end %>
          <% elsif action.to_s == 'edit' %>
            <%= link_to send(edit_link, route_params(@item)), class: "button is-light-outlined text-sm mx-1" do %>
              Modifier
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
